@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-color: #11161B;
    color: #AAD6FF;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.rn124gimg {
    width: 150px;
    height: auto;
    border-radius: 6.1%;
}
.navbar {
    background-color: #29434d;
    overflow: hidden;
}
.nothere {
    float: left;
    color: #AAD6FF;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px
}
.nothere {
    opacity: 25%
}
.youarehere {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px
}
.navbar a:hover {
     background-color: #388cc4;
     color: white;
     opacity: 100%
}
.navbar a:active {
    background-color: #9cebff;
    color: black;
    opacity: 100%
}
.version {
    float: right;
    margin-right: 20px;
    opacity: 25%
}
.desktoportable {
    margin: 20px;
    padding: 10px;
}
.logo {
    float: left;
    width: 53px;
    height: auto
}
.phonesandtablet {
    margin: 20px;
    padding: 10px;
}
.rn124g {
    display: inline-block;
    padding-left: 30px;
}
.lancelot {
    display: inline-block;
    padding-left: 30px;
}
.gta7lite {
    display: inline-block;
    padding-left: 30px;
}
.g580 {
    display: inline-block;
    padding-left: 30px;
}
.pc {
    display: inline-block;
    padding-left: 30px;
}
.pcimg {
    width: 123px;
    height: auto
}
.laptopimg {
    width: 240px;
    height: auto  
}
.redmi9img {
    width: 150px;
    height: auto;
}
.tabletimg {
    width: 200px;
    height: auto;
}